.common_btn {
    padding: 0;
    border: none;

    a {
        padding: 10px 20px;
        display: block;
        font-family: "Moon";
        font-size: 1.6rem;
        letter-spacing: 2px;
    }
}